doctype html
html(lang='en')
  include /views/includes/head.pug
  include /views/includes/navbar.pug  
  body(style="width:100%;")
    div(id='map' style='height:1000px;')
    // div(id='content-window' style="position:fixed;z-index:10;bottom:50%;right:0;background-color:#f0f0f0;")
    script(src='scripts/maps.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAO9HiRG-XX8gZVrXMBh7e8UG3I1skNJ2s&callback=initMap')
    include /views/includes/foot.pug