<div style="width:100vw;height:100vh;">
    <div id='map' style="width:100%;height:100%;"></div>
    <script>
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5, // 11
                center: {
                    lat: -35.4202547,
                    lng: 149.1211248,
                } // canberra
            });
            loadKmlData("/data/AustralianPostcodesSimplified.kml", map);
        }
    </script>
    <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAO9HiRG-XX8gZVrXMBh7e8UG3I1skNJ2s&callback=initMap'></script>
</div>
