<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/xml.js" type="text/javascript"></script>
    <script src="/scripts/db.js" type="text/javascript"></script>
    <script src="/scripts/regions.js" type="text/javascript"></script>
    <title>Gov Hack 2017</title>
</head>

<body style="margin:0;">
    {{{ body }}}
</body>

</html>
