script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='https://raw.githubusercontent.com/caolan/bootstrap-less/master/bootstrap/navbar.less', rel='stylesheet')
style.
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
  height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  .navBarTab{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  }
  td{
    padding: 4px;
  }
#navbar.navbar-collapse.collapse
  ul.nav.navbar-nav
    li.active
      a(href='#') Home
    li.dropdown
      a.dropdown-toggle(href='#',  role='button', aria-haspopup='true', aria-expanded='false', id='searchDropDown')
        | Location Search 
        span.caret
      ul#dataLocationSearch.dropdown-menu
        // li.navBarTab
        //   select#locTypeSelect
        //     option(value='State') State
        //     option(value='Town') Town
        //     option(value='Postcode') Postcode
        // br
        li.navBarTab
          //input#locationTextField(type='textarea', name='locationVal')
          div(style='width:200px')
        br
        li.navBarTab
          form(action='')
            table
              tr
                td
                  input(type='checkbox', name='filter', value='suburb', checked='checked')
                  |  Suburb zones
              tr
                td
                  input(type='checkbox', name='filter', value='bus')
                  |  Bus
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/bus-driver.png', width='20px', height='20px')
              tr
                td
                  input(type='checkbox', name='filter', value='toilet')
                  |  Toilets
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/dunny.png', width='20px', height='20px')
              tr
                td
                  input(type='checkbox', name='filter', value='skate')
                  |  Skate park&nbsp;
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/SkatePark.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='lib')
                  |  Libraries&nbsp;
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/library.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='hos')
                  |  Hospitals
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/Hospital.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='popo')
                  |  Police stations
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/police_station.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='preschool')
                  |  Preschool - Year 10
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/Schools.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='primary')
                  |  Primary School
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/primary.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='high')
                  |  High School
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/highschool.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              tr
                td
                  input(type='checkbox', name='filter', value='college')
                  |  College
                td
                  img(src='https://govhack2017-digitalchaos007.c9users.io:8080/images/college.png', width='20px', height='20px')
                td
                  input(type='textarea', style='width:40px')
              br
        li.navBarTab
          input(type='button', value='search', onclick='search()', style='width:100%')
        br
        

        